body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: #333;
  font-size: 1.6rem;
}

a {
 text-decoration: none;
 color: #333; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  background-color: #eee;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
}

.container {
  background-color: rgb(197, 188, 188);
  height: 100%;
  padding: 4rem 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.workouts {
  grid-column: span 2;

}
.details {
  padding: 2rem 3rem;
  margin-bottom: 3rem;
  transition: all .3s;
  box-shadow: .1rem .2rem .4rem rgba(0,0,0,0.8);
  background-color: #eee;
  border-radius: 1rem;
}

.details:hover {
  
  box-shadow: .2rem .4rem .8rem rgba(0,0,0,0.8);
}

.details h4 {
  text-transform: capitalize;
}

